parameters:
    ignoreErrors:
        -
            message: '#Trying to invoke \(callable\(\)\: mixed\)\|object\|string but it might not be a callable\.#'
            path: %currentWorkingDirectory%/src/Config.php

